**/*.o
**/*.d
**/*.a
**/*.bazel.lock
**/bazel-*
**/*.pprof
**/*.test
**/.DS_Store
**/__pycache__
**/build/*
**/.env
**/main
**/benchmark
**/c++/tinyhttpd/tinyhttpd
**/tinylib
**/simplejs/tests
**/simplejs/example
**/*.prof
**/sjson/tests/JSONTestSuite
**/rust/hypervisor/tinyemu
**/target
**/test
**/hash
**/*.dSYM
**/concurrency_server/benchmark/benchmark_results
**/concurrency_server/*.o
**/concurrency_server/*_server
**/high_performance_server/**/*_server
**/sthread
**/logs
**/from0-buildllm/target
**/from0-buildllm/outputs
**/from0-buildllm/my_tokenizer
**/from0-buildllm/models
**/from0-buildllm/checkpoints
**/from0-buildllm/cache
**/from0-buildllm/datasets
**/llm/apps/translation
**/*.zip
**/release