**/*.o
**/*.d
**/*.a
**/*.bazel
**/*.bazel.lock
**/bazel-*
**/*.pprof
**/*.test
**/.DS_Store
**/__pycache__
**/build
**/.env
**/c++/tinyhttpd/tinyhttpd
**/tinylib
**/simplejs/tests
**/*.prof
**/sjson/tests/JSONTestSuite